{% load static %}
{% load cloudinary %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
  Dashboard
  </title>
 <!--  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <!-- CSS Files -->
  <link id="pagestyle" href="{% static 'css/material-dashboard.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/dashboardstyle.css' %}">
</head>

<body class="g-sidenav-show  bg-gray-200">
 
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="Container navbar navbar-expand-lg pb-2 pb-lg-0 navbar-light bg-white">
      <img src="{% static 'images/logo.png' %}" width="10%">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse pb-0 justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mt-3">
          <li class="nav-item active">
              <a class="nav-link text-dark Activity" href="{% url 'core:dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
                  <!-- <a class="nav-link text-muted" href="{% url 'core:profile' %}">Update profile</a> -->
              </li>

          </ul>

          <ul class="navbar-nav navbar-nav-scroll align-items-lg-center">
<!-- 
          <li class="nav-item dropdown">
             
              <a class="nav-link dropdown-toggle text-muted" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="img/upload-image.jpg" class="rounded-circle px-3 py-2 text-white j_in_circle">Joseph Grimaldi</a>
              <div class="dropdown-menu" aria-labelledby="dropdownId">
                  <a class="dropdown-item" href="#">Action 1</a>
                  <a class="dropdown-item" href="#">Action 2</a>
              </div>
          </li> -->

          <!-- <li class="nav-item pt-1 question-mark">
              <a class="nav-link pt-0" href="#"><i class="fa fa-question-circle fa-2x text-info" aria-hidden="true"></i></a>
          </li> -->
          <!-- <li class="nav-item pt-1">
            <a class="nav-link pt-0" href="profile.html">Profile</a>
          </li> -->
          <!-- <li class="nav-item pt-1">
            <a class="nav-link pt-0" href="payment.html">Payment</a>
          </li> -->
          </ul>
      </div>
    </nav><hr>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        {% for message in messages %}
        <p style="color: red">{{message}}</p>
        {% endfor %}
        <form action="{% url 'core:profile' %}" method="POST" class="form-profile shadow-sm px-4 bg-white pb-2" enctype="multipart/form-data">
          {% csrf_token %}
         <div class="d-flex align-items-center justify-content-between">
          <div class="mb-5" style="display: flex; align-items: center;">
            {% if file_url %}
            <div  style="height:5rem; width: 5rem; ">
              <img src="{{ file_url }}"  alt="" style="height: 100%; width: 100%; border-radius: 50%;">
            </div>
            {% else %}
            <div  style="height:5rem; width: 5rem; ">
              <img src=""  alt="No image" style="height: 100%; width: 100%; border-radius: 50%;">
            </div>
            {% endif %}
           <div class="p-3">
            
           </div>
          </div>

          <div>
            <input id="formFileLg" type="file" class="fa fa-pencil-square-o fa-2x amount_in_dollars" aria-hidden="true" name="passport" accept=".jpeg, .jpg"> 
          </div>
         </div>
          <div class="form-row row mb-3">
            <div class="col-md-6">
              <label for="text">Transaction Pin</label>
              <input name="transaction_pin" type="password" class="form-control border border-1 bg-white" placeholder="0000">
            </div>
            <div class="col-md-6">
              <label for="text">Confirm Transaction Pin </label>
              <input name="confirm_transaction_pin" type="password" class="form-control border border-1 bg-white" placeholder="0000">
            </div>
          </div>

          <div class="mt-6 text-center">
                <button type="submit" class="btn text-white bg_amount_in_dollars mb-2">Update profile</button>
          </div>
        </form>
      </div>
      
      <footer class="footer py-4  ">
        <div class="container-fluid">
        
        </div>
      </footer>
    </div>
  </main>
 
  <!--   Core JS Files   -->
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
  <script src="{% static 'js/plugins/smooth-scrollbar.min.js' %}"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'js/material-dashboard.min.js' %}"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>

</html>